doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1= nombrePagina 
            p Coloca tu nueva contrase単a
           
                                
            form.caja-login(method="POST")
                .campo 
                    label(for="password") Nueva contrase単a: 
                    input(type="password" name="password" placeholder="Coloca tu nueva contrase単a" required value= email)
                .campo.enviar
                    input.boton(type="submit" value="Restablecer contrase単a")
                .campo.acciones

