doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Confirma tu correo en UpTask
        p Presiona el siguiente botón para confirmar tu correo
        a(href=`${confirmarUrl}`) Confirmar correo
        p Si no puedes acceder a este enalce, visita #{confirmarUrl}
