doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restablecer contraseña
        p Hola, has solicitado restablecer tu contraseña, haz click en el siguiente enlace para restablecerla.
        p Este enlace es temporal, si se vence vuelve a solicitarlo 
        a(href=`${resetUrl}`) Cambia tu contraseña
        p Si no puedes acceder a este enalce, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo